doctype html
html
  head
    title INTO THE STATIC

    <!-- STYLES -->
    link(rel="stylesheet", href="/static/styles/main.css", type="text/css")

    <!-- SCRIPTS -->
    script(src="/bower_components/jquery/dist/jquery.min.js", type="text/javascript")
    script(src="/bower_components/underscore/underscore.js", type="text/javascript")
    script(src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js", type="text/javascript")

    script.
      var token = "#{ token }";
      var sessionId = "#{ sessionId }";
      var tokKey = "#{ tokKey }";
      var session = OT.initSession(tokKey, sessionId);

    script(src="/static/scripts/video.js", type="text/javascript")

  body

